@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
* {
  box-sizing: border-box;
  margin: 0 auto; }

body {
  font-family: Roboto;
  background-color: #FFFFFF; }

.logo {
  padding: 4% 10%;
  margin-bottom: 5%; }
  @media (max-width: 650px) {
    .logo {
      display: block;
      margin: 0 auto; } }

h1 {
  font-family: Raleway;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px #A4A5A5;
  color: #1B335F; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 45px; } }
  @media (max-width: 350px) {
    h1 {
      font-size: 40px;
      margin-top: 3%; } }

h3 {
  font-family: Raleway;
  font-size: 42px;
  color: #1B345E;
  text-decoration: underline; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 27px; } }
  @media (max-width: 350px) {
    h3 {
      font-size: 25px; } }

p {
  font-size: 20px;
  padding: 1%;
  color: #1B345E;
  text-align: justify;
  line-height: 30px; }
  @media (max-width: 1024px) {
    p {
      font-size: 15px;
      line-height: 20px; } }

.fa {
  font-size: 20px; }

.describe {
  text-align: center;
  font-style: italic;
  margin-bottom: 5%;
  margin-bottom: 3%;
  color: #D9532B; }

form {
  text-align: center;
  margin-bottom: 5%;
  padding: 0 10%; }
  form input {
    width: 30%;
    height: 6%;
    min-height: 30px;
    min-width: 200px;
    margin: 1%;
    box-shadow: 0 0 13px 0 #888888;
    border-radius: 5px; }
    @media (max-width: 650px) {
      form input {
        display: block;
        margin: 0 auto;
        margin-bottom: 3%; } }
  form input[type=text] {
    font-size: 15px; }
  form button {
    width: 10%;
    height: 6%;
    min-height: 30px;
    min-width: 30px;
    box-shadow: 0 0 13px 0 #888888;
    border-radius: 5px; }
    form button:hover {
      transition: .5s;
      background-color: #DD643D;
      color: #FDFDFE; }
    @media (max-width: 650px) {
      form button {
        min-width: 200px; } }

.container {
  padding: 0 10%; }
  .container .searchResult {
    margin: 2% 0;
    padding: 5% 5%;
    height: 470px;
    background-color: #F4F6F6;
    border-radius: 10px; }
    @media (max-width: 1024px) {
      .container .searchResult {
        height: 350px; } }
    @media (max-width: 650px) {
      .container .searchResult {
        height: 600px; } }
    @media (max-width: 350px) {
      .container .searchResult {
        height: 650px; } }
    .container .searchResult .poster img {
      float: left;
      height: 350px;
      width: 230px;
      margin-right: 5%; }
      @media (max-width: 1024px) {
        .container .searchResult .poster img {
          height: 250px;
          width: 165px; } }
      @media (max-width: 650px) {
        .container .searchResult .poster img {
          float: none;
          margin-bottom: 2%; } }
    .container .searchResult .title {
      padding-bottom: 2%; }

footer {
  background-color: #1B335F;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  bottom: 0; }
  footer p {
    color: #FDFDFE;
    font-family: Raleway;
    text-align: center; }

/*# sourceMappingURL=main.css.map */